html, body{
  margin: 0%;
}

.container{
  display: flex;
  height: 50em;
  flex-direction: column;
  background: linear-gradient(120deg, #fff 50%, orange 50%);
}

.left{
  flex: auto;
  display: flex;
  float: left;
}

ul{
  list-style-type: none;
}

.right{
  flex: auto;
  display: flex;
  width: 65%;
  float: right;
}

.right > ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.orng{
  color: rgb(255, 198, 92);
}

.header-container{
  display: flex;
  flex-direction: row;
  text-align: left;
  height: 100%;
  font-family: "poppins";
  width: 100%;
  padding-left: 5%;
  padding-top: 10%;
  align-items: left;
}

.header-left{
  text-align: left;
}

h3{
  font-size: 2rem;
}

.button{
  border: 1px solid;
  width: fit-content;
  border-color: orange;
  background-color: #F6B400;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 10px;
}